<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background: url(../img/contentbg.jpg) no-repeat 0px 0px;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>

<div class="content-w3">
    <h1>404</h1>
    <h2>Something went wrong</h2>
    <p>The page you are looking for has been removed,had its name changed or temporarily unavailable</p>
</div>

</body>
</html>